{
	bDebugSprite: false
	bMultipleInstances: false
	bWarningMultipleInstances: false
	sRendererDevice: "OpenGL 2.x"
	sWorkingDirectory: "./"
	sTitle: "The Optimalus"
	sDescription: "Global Game Jam 2014 Game"
	sPublisherName: "Seed Framework"
	iResolutionWidth: 1024
	iResolutionHeight: 768
	iFrameRate: 60
	bFullScreen: false
}
