{
	bDebugSprite: false
	bMultipleInstances: false
	bWarningMultipleInstances: false
	sRendererDevice: "OpenGL 2.x"
	sWorkingDirectory: "./"
	sTitle: "Run4Ritual"
	sDescription: "Global Game Jam 2014 Game"
	sPublisherName: "Seed Framework"
	iResolutionWidth: 800
	iResolutionHeight: 600
	iFrameRate: 60
	bFullScreen: false
	bDisableSound: true
}
